html, body, header, nav, div, a,
ul, li, main, button, aside,
section, img, div, h1, h2, h3, h4,
h5, p, form, label, input, textarea,
span, article, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

/*body {
  background: whitesmoke;
  margin: 25px auto;
  padding: 25px;
  font-family: Arial, sans-serif;
  height: 100%;
}*/

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  position: relative;
  margin: 25px auto;
  background: whitesmoke;
  padding: 25px;
  max-width: 90%;
  height: 100%;
  font-family: Arial, sans-serif;
}

#content {
  background: #D9DDDE;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
}
