// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes-list {
  float: left;
  background-color: gray;
  width: 30%;
  padding: 15px;
  margin: 0 10px;
}

.notes-list-header {
  padding: 25px;
  background: whitesmoke;
  text-align: center;
  border: 2px solid black;
}

.notes-list-item {
  background-color: darkgray;
  padding: 15px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.notes-list-item:hover {
  cursor: pointer;
  background-color: gray;
}

.notes-list-item:last-of-type {
  border-bottom: 2px solid black;
}

.notes-list-item:first-of-type {
  border-top: 0;
}

.note-detail, .new-note-form {
  padding: 15px;
  float: left;
  width: 55%;
  background-color: gray;
}

.new-note-button {
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;

}

.new-note-button:hover {
  background-color: gray;
}

.title-input, .body-input {
    display: block;
    padding: 5px;
    margin: 15px 10px;
    width: 100%;
    border-radius: 5px;
}

.done-button {
  float: right;
  margin: 10px;
}
