// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes-list {
  background-color: white;
    width: 400px;
    padding: 15px;
    margin: 0 10px;
    height: 883px;
    overflow-y: scroll;
}

.notebooks-list {
  background-color: white;
  width: 100%;
  padding: 15px;
  height: 883px;
  overflow-y: scroll;
}

.notes-list-header {
  font-size: 24px;
  padding: 25px;
  font-family: Scope One, serif;
  background: #575757;
  color: white;
  text-align: center;
  position: relative;
}

.notes-list-item {
  font-size: 20px;
  background-color: white;
  padding: 25px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: relative;
}

.time-since {
  font-size: 16px;
  color: #242424;
}

.notes-list-item:hover {
  cursor: pointer;
  background-color: #03b651;
}

.notes-list-item:last-of-type {

  border-bottom: 1px solid gray;
}

.notes-list-item:first-of-type {
  border-top: 0;
}

.new-note-form {
  padding: 15px;
  width: 100%;
  background-color: white;
}

.nav-bar {
  display: flex;
  width: 50px;
  flex-direction: column;
  z-index: 30;
  background: #D9DDDE;
  border-left: 25px solid white;
  padding-left: 10px;
  padding-top: 10px;
}

.notebooks-button {
  padding: 5px;
  background: white;
  border: 1px solid gray;
  float: left;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px auto;
}

.notebooks-button:hover {
  background: #03b651;
  .fa-book {
    color: white;
  }
}

.fa.fa-book {
  color: #03b651;
  font-size: 26px;
  padding-left: 4px;
}

.title-input {
  font-family: Scope One, serif;
  font-size: 32px;
  color: #03b651;
  display: block;
  padding: 10px 10px;
  margin: 5px auto;
  width: 96%;
}

.body-input {
  height: 700px;
  display: block;
  padding: 25px 0;
  margin: 0 auto;
  width: 96%;
  border-top: 1px solid darkgray;
}

.fa.fa-trash {
  color: black;
  font-size: 20px;
  position: absolute;
  right: 10%;
  top: 40%;
}

.fa-trash:hover {
  color: white;
  font-size: 24px;
  right: 9.5%;
  top: 39%;
  transition: 0.1s;
}

.selected {
  box-shadow: 0 0 20px #03b651 inset;
}

.selected:hover {
  background-color: white;
  .fa-trash:hover {
    color: #03b651;
    font-size: 24px;
    right: 9.5%;
    top: 39%;
    transition: 0.1s;
  }
}

.new-notebook-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background: url('new_notebook.png') no-repeat;
  background-size: 85%;
}

.new-notebook-button:hover {
  background: url('new_notebook_white.png') no-repeat;
  background-size: 90%;
  transition: none;
}

.notebook-title-input {
  margin: 15px auto;
  padding: 10px;
  font-family: Scope One, serif;
  font-size: 30px;
  display: block;
  border-radius: 5px;
  text-align: center;
  color: #03b651;
}

.create-notebook-button {
  padding: 10px;
  border-radius: 5px;
  background: #03b651;
}

.create-notebook-button:hover {
  background: #00903f;
}

.new-notebook-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}


.logout-button {
  border: 1px solid gray;
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  margin: 5px auto;
  background: white;
}

.logout-button:hover {
  background-color: #03b651;
  .fa-power-off {
    color: white;
  }
}

.fa.fa-power-off {
  color: #03b651;
  font-size: 25px;
  text-align: center;
  padding-left: 1px;
  padding-top: 1px;
}

.search-box {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  width: 75%;
  margin-top: 40px;
}

.flex-parent {
  display: flex;
  border-right: 15px solid #D9DDDE;
}

.splash-flex-parent {
  display: flex;
}

.note-form {
  width: calc(100% - 430px);
}

.note-index-flex {
  width: 92%;
}

.splash-flex {
  width: 100%;
  border-left: 25px solid white;
}

.note-index-parent {
  display: flex;
  margin: 15px;
  margin-left: 0;
}

.fa-info-circle {
  color: #03b651;
  position: absolute;
  top: 15px;
  right: 15px;
}

.fa-info-circle:hover {
  color: white;
  font-size: 30px;
  right: 12px;
  top: 12px;
}

.new-note-button {
  border: 1px solid gray;
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 25px;
  text-align: center;
  margin: 5px auto;
  background: white;
}

.new-note-button:hover {
  background-color: #03b651;
  .fa-plus {
    color: white;
  }
}

.fa.fa-plus {
  color: #03b651;
  font-size: 26px;
  padding-left: 2px;
  padding-top: 3px;
}

button {
  background-color: transparent;
}

.fa-tag {
  font-size: 20px;
  color: #03b651;
  margin-left: 15px;
}

.tag-input {
  margin: 15px;
  margin-left: 5px;
  padding: 5px;
}

.tag-icon-and-text {
  display: inline-block;
}

.show-notebooks-menu {
  position: absolute;
  z-index: 20;
  left: 79px;
  transition: all 0.8s ease;
  width: 391px;
  margin: 15px;
}

.hide-notebooks-menu {
  position: absolute;
  left: -500px;
  transition: all 0.8s ease;
  z-index: 20;
  margin: 15px;
  width: 400px;
}

.existing-tags {
  padding: 0 10px;
}

.existing-tag {
  background: #D9DDDE;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  margin: 5px;
  float: right;
  color: black;
}

.grayed-out {
  background-color: gray;
}

.delete-note-button, .cancel-delete-button {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  width: 40%;
}

.delete-note-button {
  background: #f13535;
}

.cancel-delete-button {
  background: #03b651;
}

.delete-note-button:hover {
  background: #d72222;
}

.cancel-delete-button:hover {
  background: #1a9935;
}

.delete-text {
  display: block;
  padding: 10px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.delete-notebook, .delete-note {
  display: flex;
  flex-direction: column;
}
