// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes-list {
  float: left;
  background-color: gray;
  width: 30%;
  padding: 15px;
  margin: 0 10px;
}

.notes-list-header {
  font-size: 24px;
  padding: 25px;
  font-family: Scope One, serif;
  background: whitesmoke;
  text-align: center;
  border: 1px solid black;
}

.notes-list-item {
  font-size: 20px;
  background-color: darkgray;
  padding: 25px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.time-since {
  font-size: 16px;
  color: #242424;
}

.notes-list-item:hover {
  cursor: pointer;
  background-color: gray;
}

.notes-list-item:last-of-type {

  border-bottom: 1px solid black;
}

.notes-list-item:first-of-type {
  border-top: 0;
}

.note-detail, .new-note-form {
  padding: 15px;
  float: left;
  width: 59%;
  background-color: gray;
}

.new-note-button {
  border: 1px solid black;
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}

.new-note-button:hover {
  background-color: gray;
}

.title-input {
  font-family: Scope One, serif;
  font-size: 32px;
  display: block;
  padding: 10px 10px;
  margin: 5px auto;
  width: 96%;
}

.body-input {
  height: 500px;
  display: block;
  padding: 10px;
  margin: 5px auto;
  width: 96%;
}

.save-button {
  border: 1px solid black;
  font-size: 14px;
  float: right;
  margin: 10px 5px;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.save-button:hover {
  background-color: darkgray;
}

.delete-button {
  background: url('trashcan.png') no-repeat 2px;
  background-size: 100%;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 40%;
  left: 90%;
  border-radius: 5px;
  vertical-align: middle;
}

.selected {
  box-shadow: 0 0 20px white inset;
}

.selected:hover {
  background-color: darkgray;
}
