.noteworthy {
  font-size: 64px;

  // left: 794px;
  // top: 250px;
}

.slogan {
  // text-align: center;
  font-size: 24px;
  // position: absolute;
  // top: 347px;
  // left: 805px;
}

.splash-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  text-align: center;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-container {
  position: relative;
}

.cover-photo {
  width: 100%;
  height: 600px;
  background: url('../images/noteworthy-background-2.jpg');
  background-size: 110%;
  background-position: 90% 65%;
}

.login-form {
//   position: relative;
  background-color: rgba(0,0,0,0.5);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

label {
  display: inline;
  margin: auto;
}


input {
  padding: 5px;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: white;
}

.username-input, .password-input {
    display: block;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
    width: 260px;
}
