// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin: auto;
  width: 50%;
  padding: 25px;
}

label {
  display: inline;
  margin: auto;
}

.username-input, .password-input {
    display: block;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
    width: 260px;
}

input {
  padding: 5px;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 8px;
  border-radius: 5px;
  background-color: green;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: white;

}
