// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 8px;
  border-radius: 5px;
  background-color: green;
}
